body {
   font-family: Lato,Helvetica,Arial,sans-serif;
}
* {
   box-sizing: border-box;
}
.bg-img {
   background-image: url("../images/download.jpg");
   min-height: 380px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

/* Position the navbar container inside the image */
.container {
   position: absolute;
   margin: 20px;
   width: auto;
}

/* The navbar */
.topnav {
   overflow: hidden;
   /*background-color: #333;*/
}

/* Navbar links */
.topnav .topnavitems {
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   margin-top: 20px;
}

.topnav a img {
   height: 100px;
   width: 100px;
   left: 20px;
}

.topnava {
   color: #f2f2f2;
   text-decoration: none;
}
.topnava:active {
   color: #f2f2f2;
   text-decoration: none;
}

.topnav a:hover {
   background-color: #ddd;
   text-decoration: none;
   color: #f15a29;
}

.topnavitems:hover {
   background-color: #ddd;
   /*color: black;*/
   color: #f15a29;
   /*padding: 10px 20px 10px 20px;*/
}

.dropdown-content a:hover {
   color: #f15a29;
}

#navbar {
   background-color: #333;
   position: fixed;
   top: -130px;
   width: 100%;
   display: block;
   transition: top 0.3s;
   padding: 15px;
}

#navbar a img {
   height: 75px;
   width: 75px;
   left: 20px;
}

#navbar .navitems {
   float: right;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 15px;
   /*padding-left: 15px;
   padding-right: 15px;*/
   text-decoration: none;
   font-size: 17px;
   /*margin-top: 20px;*/
   /*margin-right: 20px;*/
}

#navbar a:hover {
   background-color: #ddd;
   /*color: black;*/
   color: #f15a29;
}

.tfooter {
   /*display: flex;*/
   padding: 40px 40px;
   /*background-color: #858585;*/
   color: #fff;
}

.firstli a {
   color: white;
}

.nextli {
   padding-top: 20px;
   list-style: none;
}

.nextli a {
   color: #A4A4A4;
}

.firstli {
   padding-bottom: 20px;
   list-style: none;
}

.bottomfooter {
   background-color: #151515;
   color: #585858;
   padding: 45px;
   text-align: center;
}

.footer {
   width: 100%;
   background-color: #2E2E2E;
   padding: 20px;
}

.scrolltop {
   display:none;
   width:100%;
   margin:0 auto;
   position:fixed;
   bottom:20px;
   right:10px; 
}
.scroll {
   position:absolute;
   right:20px;
   bottom:20px;
   border: 1px solid #b2b2b2;
   color: #f15a29;
   /*background:#b2b2b2;*/
   /*background:rgba(178,178,178,0.7);*/
   padding:15px;
   text-align: center;
   margin: 0 0 0 0;
   cursor:pointer;
   transition: 0.5s;
   -moz-transition: 0.5s;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;       
}
.scroll:hover {
   border: 1px solid #f15a29;
   background:#f15a29;
   transition: 0.5s;
   -moz-transition: 0.5s;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;       
}

.fa-arrow-up {
   color: #767e78;
}
.scroll:hover .fa {
   padding-top:-10px;
   color: white;
}
.scroll .fa {
   font-size:30px;
   margin-top:-5px;
   margin-left:1px;
   transition: 0.5s;
   -moz-transition: 0.5s;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;    
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: fixed;
   background-color: #ddd;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   text-align : left;
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

@media (min-width: 481px) and (max-width: 599px) {
   .topnav .topnavitems {
      padding: 10px 10px;
   }
   #navbar .navitems {
      padding: 10px;
   }
}

@media (min-width: 320px) and (max-width: 480px) {
   .topnav .topnavitems {
      width: 70%;
   } 
   .navitems {
      width: 60%;
   }
}